arm_parameters.json
arm_template.json
csgo_scripts/autoexec.cfg
vm.lst
Dockerfile.bookworm
Dockerfile.focal
Dockerfile.jammy
Dockerfile.ubuntu
private_*
terraform.tfstate
terraform.tfstate.backup
tf-cloud-init*
TODO
.terraform/
